.supporting-text-label {
    -fx-font-size: 9px;
}

.character-count-label {
    -fx-font-size: 9px;
}

.floating-text-label {
    -fx-padding: 0 5 0 5;
}

.enhanced-text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 12;
    -fx-font-family: Arial;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 4 7 4 7;
}

.enhanced-text-field:filled-mode {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #FFFFFF, rgba(128, 128, 128, .3);
    -fx-border-color: transparent transparent #000000 transparent;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-font-size: 12;
    -fx-font-family: Arial;
    -fx-padding: 4 7 4 7;
    -fx-text-fill: #000000;
}

.enhanced-text-field:style-mode-dark {
    -fx-background-color: #3C3C46;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFFB4;
}

.enhanced-text-field:style-mode-dark  .floating-text-label {
    -fx-text-fill: #FFFFFF;
}

.enhanced-text-field:style-mode-dark  .supporting-text-label {
    -fx-text-fill: #FFFFFF;
}

.enhanced-text-field:style-mode-dark  .character-count-label {
    -fx-text-fill: #FFFFFF;
}

.enhanced-text-field:filled-mode:style-mode-dark {
    -fx-font-size: 12;
    -fx-font-family: Arial;
    -fx-padding: 4 7 4 7;
    -fx-background-color: #3C3C46, rgba(255, 255, 255, .4);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-color: transparent transparent #FFFFFF transparent;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 0;
}