.mfx-combo-box {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #3C3C46;
    -fx-border-color: #3C3C46;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Tahoma;
    -fx-font-weight: 600;
}

.mfx-text-field {
    -fx-border-color: #FFFFFF;
}

.mfx-combo-box .combo-popup .virtual-flow {
    -fx-background-color: #3C3C46;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.mfx-combo-box .combo-popup .virtual-flow .mfx-combo-box-cell:selected {
    -fx-background-color: #0000FF2A;
}

.mfx-combo-box .combo-popup .virtual-flow .mfx-combo-box-cell:hover {
    -fx-background-color: #ADD8E61A;
}

.mfx-combo-box .combo-popup .virtual-flow .data-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Tahoma;
    -fx-font-weight: 600;
}

.mfx-combo-box .caret .mfx-font-icon {
    -mfx-color: #FFFFFF;
}

.mfx-text-field {
    -fx-padding: 0 0 0 10;
}

.mfx-table-view {
    -fx-background-color: #3C3C46;
}

.mfx-table-view .mfx-table-column {
    -fx-border-color: transparent #3C3C46 transparent transparent;
    -fx-border-insets: 0 1 0 0;
    -fx-text-fill: #FFFFFF99;
}

.mfx-table-row:hover {
    -fx-background-color: #ADD8E61A;
}

.mfx-table-row:selected {
    -fx-background-color: #0000FF2A;
}

.mfx-table-row-cell {
    -fx-border-color: transparent transparent #FFFFFF1F transparent;
    -fx-border-insets: 0 0 0 0;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Tahoma;
    -fx-font-weight: 600;
}