{
    -efx-main-dark: #80DEEA;
    -efx-main-light: #007C91;


    /* Text Colors */
    -efx-white: #FFFFFF;
    -efx-toned-down-white: #FFFFFFB4;
    -efx-black: #000000;
    -efx-toned-down-black: #000000BA;


    /* Background Colors */
    -efx-light: #FFFFFF;
    -efx-dark: #3C3C46;
    -efx-filled-white: #FFFFFF, rgba(128, 128, 128, .3);
    -efx-filled-dark: #3C3C46, rgba(255, 255, 255, .4);
}